* {
  box-sizing: border-box;
}

body {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://cdn4.sportngin.com/attachments/background_graphic/b3f9-129332244/Website_Background_Sacramento.jpg);
}
.games-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	width: 90%;
	max-width: 1200px;
	min-width: 280px;
	margin: auto;
	padding: 10px;
	background-color: #fff;
}
@media (max-width: 1000px) {
  .games-container {
		/* weird calc to adjust for padding/nargin in body */
		width: calc(100% + 16px);
		margin-left: -8px;
		margin-right: -8px;
  }
}

.ticket-card-wrapper {
	position: relative;
	height: 300px;
	flex-grow: 1;
	width: calc(100% / 3);
	max-width: calc(100% / 3);
	padding: 15px;
	font-family: Lato,sans-serif;
}
@media (max-width: 920px) {
  .ticket-card-wrapper {
		width: 50%;
		max-width: 50%;
  }
}
@media (max-width: 620px) {
  .ticket-card-wrapper {
		width: 100%;
		max-width: 460px;
		margin-left: auto;
		margin-right: auto;
  }
}

.ticket-card-body {
	height: 100%;
	width: 100%;
	border: solid .05em rgba(0,0,0,.5);
	position: relative;
	color: #666;
	background: rgb(255,255,255);
	/* background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(240,240,240,1) 13%, rgba(255,255,255,1) 40%); */
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 3px 10px 6px rgba(0,0,0,0.2); 
	box-shadow: 0px 10px 13px -7px #000000, 3px 3px 10px 6px rgba(73, 31, 31, 0.2);
	overflow: hidden;
}

.logo-holder {
	position: absolute;
	top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0px;
	width: 100%;
	height: 50%;
	padding: 0px 5px 5px 5px;
	overflow: hidden;
	filter: saturate(75%);
	transition: all .5s;
}
.ticket-card-body:hover .logo-holder{
	padding: 0px;
	filter: saturate(100%)
}

.logo-image{
	height: 100%;
	width: auto;
}
.location-flag-wrapper {
	position: absolute;
	top:0px;
	left: 0px;
	height: 80px;
	width: auto;
}

.location-flag {
	height: 100%;
}
.location-flag-text {
	font-size: 1.5em;
	font-weight: 600;
}

.header-wrapper{
	position: absolute;
	display: flex;
	justify-content: end;
	width: 100%;
	text-align: center;
	padding:5px;
	background: rgb(124, 37, 41);
	border-bottom: solid 1px rgba(255,255,255,.4);
}
.header-title{
	width: 100%;
	color:White;
	text-align: center;
}

.date {
	font-size: 1.2em;
	font-weight: 400;
}

.gradient-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(150,150,150,.25) 0%, rgba(150,150,150,0.15) 15%, rgba(150,150,150,0) 50%);
	transition: all .5s;
}
.ticket-card-body:hover .gradient-cover{
	background: linear-gradient(0deg, rgba(200,200,200,.25) 0%, rgba(200,200,200,0.15) 15%, rgba(200,200,200,0) 50%);
}

.content-holder {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	overflow: hidden;
}
.team-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 2.5em;
	width: 100%;
	overflow: hidden;
}

.team{
	font-size: .9em;
	font-weight: 800;
	transition: all .5s;
}

.ticket-card-body:hover .team {
	text-shadow: 2px 2px 3px rgba(150, 150, 150, .3);
	color: rgb(82, 82, 82);
}


.info-wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 10px 10px 0px 10px;
	font-size: .9em;
	/* background-color: red; */
}
.location{
	color:#ba8041;
	text-decoration: none;
}

.time {
	color: #666;
	font-weight: 400;
	min-width: 80px;
}

.buttons-panel {
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.card-button {
	width: 100%;
	font-size: 1em;
	padding: 10px 5px 10px 5px;
	background-color: rgba(255,255,255,.3);
	color: rgb(124, 37, 41);
	border: solid 1px rgba(0,0,0,.2);
	transition: all .5s;
	text-align: center;
	text-decoration: none;
}

.card-button:hover {
	background-color: rgb(94, 37, 40);
	color: white;
	cursor: pointer;
}

.header-override{
	margin: 0px;
}

