/* LOCAL ENVIRONMENT STYLES */
* {
    box-sizing: border-box;
}
body {
    z-index: -1;
    background-attachment: fixed;
    background: #000000 url(https://cdn4.sportngin.com/attachments/background_graphic/b3f9-129332244/Website_Background_Sacramento.jpg) no-repeat center top;
}